<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="UserPU">
		<description>Entity Beans for User</description>
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<jta-data-source>java:/DerbyDS</jta-data-source>
		<class>com.mydomain.model.User</class>
		<properties>
			<property name="hibernate.hbm2ddl.auto" value="create" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.dialect" value="org.hibernate.dialect.DerbyDialect" />
		</properties>
	</persistence-unit>
</persistence>