# Simple configuration for an HTTP proxy listening on port 80 on all
    # interfaces and forwarding requests to a  backend "servers" with a
    # two servers "server1" and "server2" 
    global
        daemon
        maxconn 256

    defaults
        mode http
        timeout connect 5000ms
        timeout client 50000ms
        timeout server 50000ms

    frontend http-in
        bind *:80
        default_backend deposits
        acl customer path_sub /customer
  		use_backend custinfo if customer

    backend deposits
        server server1 192.168.99.100:8080 maxconn 32
    backend custinfo
        server server2 192.168.99.100:8090 maxconn 32